<!doctype html>
<html ng-app="bowlScore">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<head>Bowling score
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="scores.js"></script>
</head>

<body>
<div ng-controller="AddScore">
    <ul class="nav nav-tabs">
        <li role="presentation" ><a href="index.html">Home</a></li>
        <li role="presentation" class="active"><a href="#">Add score</a></li>
    </ul>
    <div>
        <select ng-model="name">
            <option value="Aku">Aku</option>
            <option value="Mikko">Mikko</option>
            <option value="Olli">Olli</option>
        </select>
    </div>
    <div>
        <input type="text" ng-model="score" />
    </div>
    <div>
        <button ng-click="add()">Add</button>
    </div> 
    <div>
        {{message}}
    </div>
</div>

</body>

</html>
