<!doctype html>
<html ng-app="bowlScore">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Bowlscore">
    <meta name="author" content="Mikko Lundgren">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

    <script src="highcharts-ng.js"></script>
    <script src="scores.js"></script>
</head>

<body>
<div class="container">
<div class="header clearfix" ng-controller="AddScore">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="index.html">Home</a></li>
            <li role="presentation"><a href="charts.html">Charts</a></li>
            <li role="presentation" class="active"><a href="#">Add score</a></li>
            <li role="presentation"><a href="payers.html">Maksajat</a> </li>
        </ul>
    </nav>
    <h3 class="text-muted">Add score</h3>
    <div class="form-group">
        <select class="form-control"  ng-model="name">
            <option value="Aku" selected="selected">Aku</option>
            <option value="Mikko">Mikko</option>
            <option value="Olli">Olli</option>
        </select>
    </div>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter score" ng-model="score" />
    </div>
    <div>
        <button type="button" class="btn btn-default" ng-click="add()">Add</button>
    </div> 
    <div>
        <span class="label label-success">{{message}}</span>
    </div>
</div>
</div>
</body>

</html>
